# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Env (keep .env.example)
.env
.env.local
.env.*.local

# DB
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal

# Debug / IDE
npm-debug.log*
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
next-env.d.ts
